body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #FF0000;
    /* Background styling */
    background-color: #ffffff;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/doodle-bg.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 70vh;
    opacity: var(--bg-opacity, 1);
    z-index: -1;
}

.content {
    text-align: left;
    margin: 0 5% 0 5%; /* Left and right margins */
    padding: 20px 0;
}
h1 {
    font-size: 3em;
    margin: 0;
}
h2 {
    margin-top: 5px;
    font-weight: normal;
}
h3 {
    font-size: 1.75em;
    margin-top: 60px;
    margin-bottom: 15px;
}
p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0 0 15px 0;
}
a {
    color: inherit;
}
.navbar {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 1.2em;
}
.navbar a {
    color: #FF0000;
    text-decoration: none;
}
.navbar a:last-child {
    margin-left: auto;
}
.navbar a:hover {
    text-decoration: underline;
}
